Part 3

In [ ]:
import pandas as pd
data_csv = pd.read_csv('/content/A/Excelsheet2.csv')
print("CSV file")
print(data_csv)
data_excel = pd.read_excel('/content/A/Excelsheet.xlsx')
print("XLSX file")
print(data_excel)
data_tsv = pd.read_csv('/content/A/Excelsheet2.csv',sep='\t')
print("TSV file")
print(data_tsv)

CSV file
        name  age  height
0     akshay   20     165
1       ajay   19     170
2     anurag   20     160
3  navaneeth   20     175
XLSX file
        name  age  height
0     akshay   20     165
1       ajay   19     170
2     anurag   20     160
3  navaneeth   20     175
TSV file
    name,age,height
0     akshay,20,165
1       ajay,19,170
2     anurag,20,160
3  navaneeth,20,175